/* frame3 */
.about_us{
    width: 100%;
    height: 644px;
}
.about_us__helper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_us__container{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.au__left {
    width: 600px;
    height: auto;
}
.au_left_txt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}
.au__right {
    width: 590px;
    max-width: 590px;
    height: 406px;
    max-height: 406px;
    background: #000;
    border-radius: 35px;
}
.au__right__video{
    width: 100%;
    height: 100%;
    border-radius: 35px;
}
