/* frame6 */
.free_catalog{
    width: 100%;
    height: auto;
    background: #fcfcfc;
    padding-bottom: 15px;
    padding-top: 5px;
}
.free_catalog > .container{
    height: 100% !important;
}
.free_cat__helper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.free_cat__desc{
    font-family: 'Noto Serif', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 39px;
}
.free_cat__helper > .section__row1 > .section__hr{
    width: 954px !important; 
}
.free_cat__helper > .section__row1 > .section__title{
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 37px !important;
    line-height: 39px !important;
    text-align: center;
}
.free_cat__button{
    text-transform: uppercase;
    cursor: pointer;
    height: 90px;
    width: 480px;
    background: rgba(49, 146, 152, .7);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 39px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    user-select: none;
}
.free_cat__button:active{
    box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
    background: rgba(49, 146, 152, 1);
}
.close_form{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1010;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.close_form:hover{
    transform: scale(1.3);
}
.close_form > img{
    width: 100%;
}