@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #E3E3E3;
    min-height: 100vh;
    overflow-x: hidden;
}
*::selection { background: #66C1BC; }
*::-moz-selection { background: #66C1BC; }

li{
    list-style-type: none;
}
a:hover{
    text-decoration: none;
    color: #000;
}
button:active, button:focus {
    outline: none !important;
  }
button::-moz-focus-inner {
    border: 0 !important;
}
a{
    text-decoration: none;
    color: black;
    position: relative;
}

header{
    width: 100%;
    height: 105px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.header_menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu{
    width: 600px;
    height: 100%;
}
.header__menu_ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__menu_li{
    cursor: pointer;
    user-select: none;
}
a:before, a:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}

.msg_box{
    position: fixed;
    height: 77px;
    width: 77px;
    background: #66C1BC;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    margin-right: 45px;
    bottom: 45px;
    cursor: pointer;
}
.msg_box__img{
    width: 50.64px;
    height: 39.97px;
}
.block1{
    width: 100%;
    height: 600px;
    margin-top: 40px;
}
.block1__helper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divArrowHelper{
    width: auto;
    height: 100%;
}
.block1__left{
    height: 100%;
    width: 410px;
    user-select: none;
}
.block1__right{
    height: 100%;
    width: 616px;
    user-select: none;
}
.block1__left_row1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block1__left_row2{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.block1__left_row3{
    margin-top: 30px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.block1__left_row1 > img{
    width: 142px;
    height: 136px;
}
.title_bl1{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 70px;
    margin-bottom: 0;
}
.subtitle_bl1{
    text-transform: uppercase;
    font-size: 15px;
    color: #707070;
    margin-top: -20px;
    padding-left: 5px;
}
.title__bl1_r3{
    color: #54ABA6;
    font-style: normal;
    font-weight: bold;
    font-size: 43px;
    line-height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subtitle__bl1_r3{
    color: #707070;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
}
.for_skipArrow{
    width: 100%;
    height: auto;
}
.skipArrow__helper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.skipArrow__helper > img{
    cursor: pointer;
}
.skipArrow__helper > img:hover{
    -webkit-animation: 0.5s tremor ease-out;  
    animation: 0.1s tremor ease-out;
}
@keyframes tremor {
  0%, 25% {
  left: -1px;
  -webkit-transform: translateX(-4%);
  transform: translateX(-4%);
  }
  50%, 100% {
  left: 1px;
  -webkit-transform: translateX(4%);
  transform: translateX(4%);
  }
}

.row3_helper{
    user-select: none;
}

/* frame2 */
.hit_sales{
    height: 820px;
    width: 100%;
    margin-top: 90px;
}
.hit_sales__helper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section__row1{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55px;
    margin-bottom: 65px;
}
.hit_sales__row2{
    max-width: 850px;
    height: 100%;
}
.sl{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sl_slide{
    width: 840px;
}
.section__title{
    color: #319298;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 49px;
    text-transform: uppercase;
}
.section__hr{
    border: 2px solid #319298;
    width: 335px;
    margin-top: -10px;
}

/* frame3 */
.about_us{
    width: 100%;
    height: 644px;
}
.about_us__helper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about_us__container{
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.au__left {
    width: 600px;
    height: auto;
}
.au_left_txt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
}
.au__right {
    width: 590px;
    max-width: 590px;
    height: 406px;
    max-height: 406px;
    background: #000;
    border-radius: 35px;
}
.au__right__video{
    width: 100%;
    height: 100%;
    border-radius: 35px;
}


/* frame3 */
.oa__row1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55px;
    margin-bottom: 65px;
}
.oa__title {
    color: white;
    font-style: normal;
    font-weight: bold;
    font-size: 37px;
    line-height: 49px;
    text-transform: uppercase;
}
.oa__hr {
    border: 2px solid #319298;
    width: 541px;
    margin-top: -10px;
}

/* frame4 */
.our_advantages{
    width: 100%;
    height: 685px;
    margin-top: 200px;
    background: url(/img/frame4_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
.our_advantages__helper{
    width: 100%;
    height: 685px;
    padding-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oa__container{
    width: 100%;
    max-height: 545px;
    height: 100%;
    display: flex;
    align-items: center;
}
.oa_container__center_row{
    width: 100%;
    height: 380px;
    display: flex;
    justify-content: space-around;
}
.oa_column{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}
.oa_column img {
    user-select: none;
}
.oa_column__txt{
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.oa_column__txt_title{
    color: #59EFE6;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 15px;
}
.oa_column__txt_subtitle > ul > li{
    list-style-image: url(/img/list_style_type.svg);
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 29px;
}

/* frame5 */
.our_archievemtnts{
    width: 100%;
    height: 640px;
    margin-top: 20px;
}
.o_arch__helper > .section__row1 > .section__hr{
    width: 541px !important;
}
.o_arch__helper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.our_arch__container > img {
    object-fit: contain;
    user-select: none;
}

/* frame6 */
.free_catalog{
    width: 100%;
    height: 300px;
    background: #fcfcfc;
}
.free_catalog > .container{
    height: 100% !important;
}
.free_cat__helper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.free_cat__desc{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 39px;
}
.free_cat__helper > .section__row1 > .section__hr{
    width: 954px !important; 
}
.free_cat__helper > .section__row1 > .section__title{
    font-style: normal !important;
    font-weight: bold !important;
    font-size: 37px !important;
    line-height: 39px !important;
}
.free_cat__button{
    text-transform: uppercase;
    cursor: pointer;
    height: 90px;
    width: 480px;
    background: #E52524;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 23px;
    line-height: 39px;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    user-select: none;
}
.free_cat__button:active{
    box-shadow: 0 0 10px rgba(0,0,0,0.5) !important;
    background: #C01817;
}

.h_btn{
    width: 169px;
    height: 33px;
    background: #FDFDFD;
    border-radius: 50px;
    outline: none;
    border: none;
    text-transform: uppercase;
    box-shadow: 0 0 7px rgba(0,0,0,0.5);
}
.h_btn:active{
    box-shadow: 0 0 2px rgba(0,0,0,0.5) !important;
    background: #F1F1F1;
}




/* footer */
footer{
    width: 100%;
    height: 220px;
    background: #343434;
}
footer > .container {
    height: 100%;
}
.footer__helper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact_txt{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 18px;
}
.footer_row1{
    height: 18px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.footer_row2{
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.contact_icon{
    width: 240px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_icon > img{
    cursor: pointer;
    user-select: none;
}






#toTop {
    display: none;
    width: 77px;
    height: 77px;
    background:#66C1BC;
    border-radius: 100%;
    position:fixed;
    bottom: 45px; /* отступ кнопки от нижнего края страницы*/
    left: 45px;
    cursor:pointer;
    display:none;
    color:#333;
    font-family:verdana;
    font-size:11px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#toTop > img {
    width: 45px;
    height: 45px;
}




/* form */
.black_layer{
    position: fixed;
    z-index: 1000;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
}
.email_layer{
    position: fixed;
    z-index: 1010;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.email_form{
    max-width: 600px;
    width: 100%;
    max-height: 450px;
    height: 100%;
    border-radius: 25px;
    background: #fff;
}
.email_form .section__row1{
    margin-bottom: 20px !important;
}
.email_f__helper > .section__row1 > .section__hr{
    width: 500px !important;
}
.form_submit{
    width: 520px;
    height: 70px;
    border-radius: 25px;
    background: #65C2BD;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 27px;
    line-height: 27px;
    cursor: pointer;
    user-select: none;
}
.form_submit:active{
    background: #549692;
}
.input_form_column{
    display: flex;
    flex-direction: column;
}
.input_form_column input{
    border-radius: 25px;
    padding-left: 15px;
    height: 60px;
    font-size: 22px;
    border: 3px solid #f2f2f2;
    margin-bottom: 10px;
    width: 520px;
}
.email_f__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* hover эффекты */
.effect-1 {
    padding-top: 10px;
}
.effect-1:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #49849e;
    transform: scaleX(0);
}
.effect-1:hover:before {
    transform: scaleX(1);
}
/* ----------------------- */

/* preloader */

.preloader{
    position: fixed;
    z-index: 999;
    display: flex;
    background: #E3E3E3;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;   
}

.cssload-thecube {
	width: 73px;
	height: 73px;
	margin: 0 auto;
	margin-top: 49px;
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	position: relative;
	transform: rotateZ(45deg);
		-o-transform: rotateZ(45deg);
		-ms-transform: rotateZ(45deg);
		-webkit-transform: rotateZ(45deg);
		-moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
	float: left;
	width: 50%;
	height: 50%;
	position: relative;
	transform: scale(1.1);
		-o-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
}
.cssload-thecube .cssload-cube:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgb(102,193,188);
	animation: cssload-fold-thecube 2.76s infinite linear both;
		-o-animation: cssload-fold-thecube 2.76s infinite linear both;
		-ms-animation: cssload-fold-thecube 2.76s infinite linear both;
		-webkit-animation: cssload-fold-thecube 2.76s infinite linear both;
		-moz-animation: cssload-fold-thecube 2.76s infinite linear both;
	transform-origin: 100% 100%;
		-o-transform-origin: 100% 100%;
		-ms-transform-origin: 100% 100%;
		-webkit-transform-origin: 100% 100%;
		-moz-transform-origin: 100% 100%;
}
.cssload-thecube .cssload-c2 {
	transform: scale(1.1) rotateZ(90deg);
		-o-transform: scale(1.1) rotateZ(90deg);
		-ms-transform: scale(1.1) rotateZ(90deg);
		-webkit-transform: scale(1.1) rotateZ(90deg);
		-moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
	transform: scale(1.1) rotateZ(180deg);
		-o-transform: scale(1.1) rotateZ(180deg);
		-ms-transform: scale(1.1) rotateZ(180deg);
		-webkit-transform: scale(1.1) rotateZ(180deg);
		-moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
	transform: scale(1.1) rotateZ(270deg);
		-o-transform: scale(1.1) rotateZ(270deg);
		-ms-transform: scale(1.1) rotateZ(270deg);
		-webkit-transform: scale(1.1) rotateZ(270deg);
		-moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
	animation-delay: 0.35s;
		-o-animation-delay: 0.35s;
		-ms-animation-delay: 0.35s;
		-webkit-animation-delay: 0.35s;
		-moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
	animation-delay: 0.69s;
		-o-animation-delay: 0.69s;
		-ms-animation-delay: 0.69s;
		-webkit-animation-delay: 0.69s;
		-moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
	animation-delay: 1.04s;
		-o-animation-delay: 1.04s;
		-ms-animation-delay: 1.04s;
		-webkit-animation-delay: 1.04s;
		-moz-animation-delay: 1.04s;
}



@keyframes cssload-fold-thecube {
	0%, 10% {
		transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-o-keyframes cssload-fold-thecube {
	0%, 10% {
		-o-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-o-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-o-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-ms-keyframes cssload-fold-thecube {
	0%, 10% {
		-ms-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-ms-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-ms-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-webkit-keyframes cssload-fold-thecube {
	0%, 10% {
		-webkit-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-webkit-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-webkit-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}

@-moz-keyframes cssload-fold-thecube {
	0%, 10% {
		-moz-transform: perspective(136px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-moz-transform: perspective(136px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-moz-transform: perspective(136px) rotateY(180deg);
		opacity: 0;
	}
}