@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
@import "/css/forAll.css";
@import "/css/header.css";
@import "/css/msgBox.css";
@import "/css/block1.css";
@import "/css/hitSales.css";
@import "/css/aboutUs.css";
@import "/css/ourAdvantages.css";
@import "/css/ourArchievemtnts.css";
@import "/css/freeCatalog.css";
@import "/css/footer.css";
@import "/css/preloader.css";
@import "/css/hover.css";
@import "/css/emailForm.css";

@media screen and (max-width: 991px){
    .about_us__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .our_advantages{
        margin-top: 50px;
    }
    .hit_sales {
        height: 700px;
        width: 100%;
        margin-top: 90px;
    }
    .our_advantages {
        height: auto;
    }
    .our_advantages__helper {
        height: auto;
    }
    .oa__container {
        max-height: none;
    }
    .oa_container__center_row {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .oa_column {
        width: 100%;
        margin-bottom: 25px;
    }
    .au__left {
        margin-bottom: 15px;
    }
    .our_arch__container{
        width: 100%;
    }
    .our_archievemtnts {
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    header {
        display: none;
    }
    .block1__helper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .block1 {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    .for_skipArrow{
        display: none;
    }
    .hit_sales {
        height: 700px;
        width: 100%;
        margin-top: 45px;
    }
    .block1__left_row1 > img {
        width: 200px;
        height: 200px;
    }
    .block1__left {
        margin-bottom: 15px;
    }
    .sl > button {
        display: none;
    }
    .free_cat__helper > .section__row1 > .section__hr {
        width: 100% !important;
    }
    .free_catalog .section__row1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 65px;
        text-align: center;
    }
    .free_catalog .section__row1 {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 865px){
    #toTop {
        left: 15px;
    }
    .msg_box {
        margin-right: 15px;
    }
}