@import "/css/forAll.css";
@import "/css/header.css";
@import "/css/msgBox.css";
@import "/css/block1.css";
@import "/css/hitSales.css";
@import "/css/aboutUs.css";
@import "/css/ourAdvantages.css";
@import "/css/ourArchievemtnts.css";
@import "/css/freeCatalog.css";
@import "/css/footer.css";
@import "/css/preloader.css";
@import "/css/hover.css";
@import "/css/emailForm.css";
@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Noto+Serif&family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

@media screen and (max-width: 1199px){
    .block1__left {
        height: 100%;
        /* max-width: 40%; */
        width: 40%;
        user-select: none;
    }
    .block1__right {
        height: 100%;
        width: 50%;
        user-select: none;
    }
    .block1__right > img {
        width: 100%;
    }
}
@media screen and (max-width: 1009px){
    .sl > button {
        display: none !important;
    }
}

@media screen and (max-width: 767px){
    .hit_sales {
        height: 100% !important;
        /* height: 100%; */
        width: 100%;
        margin-top: 90px;
    }
    .about_us {
        margin-top: 60px;
    }
    .free_cat__button { 
        width: 100%;
    }
    .msg_box__img {
        width: 65%;
    }
    .msg_box {
        height: 50px;
        width: 50px;
    }
    #toTop {
        width: 50px;
        height: 50px;
    }
    #toTop > img {
        width: 60%;
    }
}

@media screen and (max-width: 434px){
    .title_bl1 {
        font-size: 60px;
    }
}
@media screen and (max-width: 430px){
    .free_cat__helper > .section__row1 > .section__title {
        font-style: normal !important;
        font-weight: bold !important;
        font-size: 20px !important;
        line-height: 39px !important;
    }
    .section__title {
        font-size: 25px;
    }
    .oa__title {
        color: white;
        font-style: normal;
        font-weight: bold;
        font-size: 25px;
        line-height: 49px;
        text-transform: uppercase;
    }
}
@media screen and (max-width: 379px){
    .title_bl1 {
        font-size: 50px;
    }
}
@media screen and (max-width: 991px){
    .about_us__container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .au__left {
        width: 100%;
        height: auto;
    }
    .au__right {
        width: 100%;
    }
    .oa__title {
        text-align: center;
    }
    .oa__hr {
        width: 100%;
    }
    .o_arch__helper > .section__row1 > .section__hr {
        width: 100% !important;
    }
    .section__title {
        text-align: center;
    }
    .our_advantages{
        margin-top: 50px;
    }
    .hit_sales__row2{
        width: 100%;
    }
    .our_advantages {
        height: auto;
    }
    .our_advantages__helper {
        height: auto;
    }
    .oa__container {
        max-height: none;
    }
    .oa_container__center_row {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }
    .oa_column {
        width: 100%;
        margin-bottom: 25px;
    }
    .au__left {
        margin-bottom: 15px;
    }
    .our_arch__container{
        width: 100%;
    }
    .our_archievemtnts {
        width: 100%;
        height: auto;
        margin-top: 20px;
        padding-bottom: 30px;
    }
    .for_skipArrow{
        display: none;
    }
    header {
        display: none;
    }
    .block1__helper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .block1 {
        width: 100%;
        height: auto;
        margin-top: 40px;
    }
    .hit_sales {
        height: auto;
        width: 100%;
        margin-top: 45px;
        margin-bottom: 65px;
    }
    .block1__left_row1 > img {
        width: 200px;
        height: 200px;
    }
    .block1__left {
        margin-bottom: 15px;
        width: 100%;
    }
    .block1__right {
        height: 100%;
        width: 100%;
        user-select: none;
    }
    

    .free_catalog {
        padding-bottom: 10px;
    }
    .free_cat__helper > .section__row1 > .section__hr {
        width: 100% !important;
    }
    .free_catalog .section__row1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        margin-bottom: 65px;
        text-align: center;
    }
    .free_catalog .section__row1 {
        margin-bottom: 0;
    }

    .our_arch__container{
        display: none;
    }
    .our_arc__mobile{
        display: flex;
    }

}
@media screen and (max-width: 865px){
    #toTop {
        left: 15px;
    }
    .msg_box {
        margin-right: 15px;
    }
}
@media screen and (max-width: 499px){
    .o_arch_r_column {
        width: 49%;
    }
    .o_arch_r > img{
        width: 49%;
    }
    .o_arch_r_solo > img {
        width: 100%;
    }
}
@media screen and (max-width: 630px){
    .email_inp{
        width: 100% !important;
    }
    .email_form{
        max-width: 90%;
    }
    .input_form_column {
        width: 100%;
    }
    .form_submit {
        max-width: 520px;
        width: 100%;
        margin-bottom: 15px;
    }
    .email_f__helper > .section__row1 > .section__hr {
        max-width: 500px !important;
        width: 100% !important;
    }
    .email_form {
        max-height: none !important;
        height: auto !important;
    }
    .section__row1 {
        height: auto;
    }
    .section__title {
        width: 85%;
    }
}